
<style>
    .tile {
        fill:grey;
        stroke:black;
    }
    .allowedtile {
        fill: yellow;
        stroke:yellow;
    }
    .allowedtile:hover {
        fill: orange;
        stroke:orange;
    }
    .redsoldier {
        stroke: red; 
        fill: red;
    }
    .greensoldier {
        stroke: green; 
        fill: green;
    }
</style>

<div id="area" style="text-align: center;">
   


</div>


<script>

    var lenghts = [5,7,11,13];

    var state1 = [0,0,0,0];
    var state2 = [4,6,10,12];

    function actionmove(i,j) {
        if (state2[i] > j) {
        state1[i] = j;
        playgame();
        }
        showstate();
    }

    

    document.getElementById('area').innerHTML += '<center>'
    for (i = 0; i < 4; i++) {
        for (j = 0; j < lenghts[i]; j++) {
    document.getElementById('area').innerHTML += `
    <svg height="100" width="100" viewBox="0 0 560 512">
        <g  id="tile_${i}_${j}" class="tile"">
            <polygon  points="0,460 100,560 500,560 400,460" style="stroke-width:1"  onclick="actionmove(${i},${j})"  />
        </g>
        
            <g id="redsoldier_${i}_${j}" class="redsoldier">
                <path d="M247.07,323.803l-23.142-14.656c-1.283-0.812-2.449-1.738-3.526-2.735v180.695c0,13.747,11.144,24.891,24.891,24.891
                    s24.891-11.144,24.891-24.891V325.462C262.649,328.848,253.97,328.173,247.07,323.803z"/>

                <path d="M301.242,253.872c-7.605,24.33-10.037,32.11-17.674,56.541c-1.177,3.766-3.267,7.159-5.999,9.917v166.777
                    c0,13.747,11.144,24.891,24.891,24.891s24.891-11.144,24.891-24.891c0-7.814,0-217.615,0-229.129L301.242,253.872z"/>

                <path d="M234.937,68.481c4.648,17.303,20.435,30.044,39.206,30.044c22.423,0,40.601-18.178,40.601-40.601
                    c0-22.423-18.178-40.601-40.601-40.601c-18.771,0-34.559,12.741-39.207,30.045c-5.745-9.713-18.227-13.076-28.083-7.482
                    l-83.324,47.323c-7.242,4.113-11.321,12.158-10.36,20.43c0.961,8.272,6.775,15.168,14.767,17.511l92.707,26.606v116.811
                    l23.608-37.125c-3.48-6.366-4.969-13.884-3.754-21.605c1.469-9.339,6.603-17.189,13.705-22.319
                    c0.294-3.397,1.388-6.696,3.264-9.66c4.874-7.696,38.366-60.58,42.777-67.546c-8.482,0-66.804,0-75.485,0l-38.185-11.199
                    l40.769-23.155C230.605,74.107,233.157,71.496,234.937,68.481z"/>

                <path d="M268.849,248.777c-6.177-0.971-11.699-3.554-16.217-7.242l-25.744,40.483c-3.55,5.606-1.884,13.03,3.722,16.58
                    l23.142,14.656c6.657,4.216,15.536,0.984,17.897-6.566l17.123-54.777L268.849,248.777z"/>

                <path d="M394.745,1.411c-4.235-2.683-9.847-1.427-12.533,2.814l-7.297,11.522l-6.714-4.252c-4.236-2.683-9.848-1.425-12.533,2.814
                    c-2.684,4.237-1.424,9.849,2.813,12.533l6.714,4.252l-95.14,150.225c3.048-0.366,6.194-0.333,9.376,0.167l29.884,4.7l0.011-0.036
                    l52.984-83.662c2.684-4.239,1.424-9.849-2.813-12.533c-3.309-2.096-7.443-1.776-10.375,0.468l48.436-76.48
                    C400.243,9.705,398.983,4.094,394.745,1.411z"/>

                <path d="M374.073,157.589c-0.06-11.998-4.616-22.96-12.05-31.306l-29.36,46.36l0.087,17.226l0.068,13.491l-55.453-8.722
                    c-11.316-1.78-21.934,5.952-23.714,17.268c-1.78,11.317,5.951,21.934,17.268,23.714l79.541,12.51
                    c12.631,1.988,24.029-7.832,23.966-20.596C374.236,189.806,374.082,159.267,374.073,157.589z"/>
            </g>
            <g id="greensoldier_${i}_${j}" class="greensoldier"">
                <path d="M247.07,323.803l-23.142-14.656c-1.283-0.812-2.449-1.738-3.526-2.735v180.695c0,13.747,11.144,24.891,24.891,24.891
                    s24.891-11.144,24.891-24.891V325.462C262.649,328.848,253.97,328.173,247.07,323.803z"/>

                <path d="M301.242,253.872c-7.605,24.33-10.037,32.11-17.674,56.541c-1.177,3.766-3.267,7.159-5.999,9.917v166.777
                    c0,13.747,11.144,24.891,24.891,24.891s24.891-11.144,24.891-24.891c0-7.814,0-217.615,0-229.129L301.242,253.872z"/>

                <path d="M234.937,68.481c4.648,17.303,20.435,30.044,39.206,30.044c22.423,0,40.601-18.178,40.601-40.601
                    c0-22.423-18.178-40.601-40.601-40.601c-18.771,0-34.559,12.741-39.207,30.045c-5.745-9.713-18.227-13.076-28.083-7.482
                    l-83.324,47.323c-7.242,4.113-11.321,12.158-10.36,20.43c0.961,8.272,6.775,15.168,14.767,17.511l92.707,26.606v116.811
                    l23.608-37.125c-3.48-6.366-4.969-13.884-3.754-21.605c1.469-9.339,6.603-17.189,13.705-22.319
                    c0.294-3.397,1.388-6.696,3.264-9.66c4.874-7.696,38.366-60.58,42.777-67.546c-8.482,0-66.804,0-75.485,0l-38.185-11.199
                    l40.769-23.155C230.605,74.107,233.157,71.496,234.937,68.481z"/>

                <path d="M268.849,248.777c-6.177-0.971-11.699-3.554-16.217-7.242l-25.744,40.483c-3.55,5.606-1.884,13.03,3.722,16.58
                    l23.142,14.656c6.657,4.216,15.536,0.984,17.897-6.566l17.123-54.777L268.849,248.777z"/>

                <path d="M394.745,1.411c-4.235-2.683-9.847-1.427-12.533,2.814l-7.297,11.522l-6.714-4.252c-4.236-2.683-9.848-1.425-12.533,2.814
                    c-2.684,4.237-1.424,9.849,2.813,12.533l6.714,4.252l-95.14,150.225c3.048-0.366,6.194-0.333,9.376,0.167l29.884,4.7l0.011-0.036
                    l52.984-83.662c2.684-4.239,1.424-9.849-2.813-12.533c-3.309-2.096-7.443-1.776-10.375,0.468l48.436-76.48
                    C400.243,9.705,398.983,4.094,394.745,1.411z"/>

                <path d="M374.073,157.589c-0.06-11.998-4.616-22.96-12.05-31.306l-29.36,46.36l0.087,17.226l0.068,13.491l-55.453-8.722
                    c-11.316-1.78-21.934,5.952-23.714,17.268c-1.78,11.317,5.951,21.934,17.268,23.714l79.541,12.51
                    c12.631,1.988,24.029-7.832,23.966-20.596C374.236,189.806,374.082,159.267,374.073,157.589z"/>
            </g>

    </svg> 
    `
    }


    document.getElementById('area').innerHTML += '<br/>'
}
    function showstate()
    {
        console.log(state1);
        console.log(state2);
        
        for (i = 0; i < 4; i++) {
            for (j = 0; j < lenghts[i]; j++) {
                
                var redsoldier =  document.getElementById(`redsoldier_${i}_${j}`);
                var greensoldier = document.getElementById(`greensoldier_${i}_${j}`);
                var tile = document.getElementById(`tile_${i}_${j}`);
                if (state1[i] == j) { 
                    redsoldier.style.display = "block";
                }
                else
                { 
                    redsoldier.style.display = "none";
                }
                if (state2[i] == j) { 
                    greensoldier.style.display = "block";
                }
                else
                { 
                    greensoldier.style.display = "none";
                }
                if (state2[i] > j && state1[i] != j) { 
                    if (!tile.classList.contains("allowedtile")) {
                        tile.classList.add("allowedtile");
                    }
                }
                else
                { 
                    if (tile.classList.contains("allowedtile")) {
                        tile.classList.remove("allowedtile");
                    }
                }
            }
        }
        
    }

    function playgame() {
        nim = [0,0,0,0];
        heapsum = 0;
        for (i = 0; i < 4; i++) {
            nim[i] = state2[i] - state1[i] - 1;
            heapsum ^= nim[i];
        }
        for (i = 0; i < 4; i++) {
            if ((heapsum ^ nim[i]) < nim[i]) {
                target = i;
                newval = (heapsum ^ nim[i]);
                break;
            }
        }
        state2[target] = state1[target] + newval + 1
    }
    showstate();
    


</script>
